main {
    margin: 0 4%;
}

main a {
    box-sizing: border-box;
    color: white;
    background-color: rgb(62, 150, 244);
    display: block;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 1%;
    border-radius: 10px;
}

main div {
    margin: 1% auto;
    padding: 3%;
}
