body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

main {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80vh !important;
    padding: 20px !important;
}

#loginContainer {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
}

h1 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 32px;
}

#loader {
    font-size: 18px;
    color: #888;
    display: none; 
}

#firebaseui-auth-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.firebaseui-idp-button {
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.firebaseui-idp-button:hover {
    background-color: #357ABD;
}

#firebaseui-auth-container div {
    margin-bottom: 10px;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    #loginContainer {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .firebaseui-idp-button {
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    #loginContainer {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .firebaseui-idp-button {
        padding: 8px 10px;
    }
}
