@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Raleway", Arial, sans-serif;
}

main h1 {
    margin: 1% auto;
    padding: 3%;
}
