@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


main {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
}

/* serach bar */
#searchBarContainer {
    display: flex;
    margin: 20px 0;
}

#searchBar {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    background-image: url(../images/search-icon.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 40px;
}

#searchBar:focus {
    box-shadow: inset 0 0 3px black;
}

/* Lost Item Posts */
#postsHere {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 5px;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

.card img {
    width: 100%;
    grid-column: 1 / span 3;
    object-fit: cover;
}

h1 {
    grid-column: 1 / span 3;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: rgb(255, 238, 169);
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeHolder {
    color: rgb(109, 109, 109);
    font-weight: 700;
    font-style: italic;
    width: 100%;
    grid-column: 3 / span 1;
}

.descriptionHolder {
    grid-column: 1 / span 3;
    box-sizing: border-box;
    padding: 30px 15px;
    font-size: 14pt;
    width: 100%;
    font-weight: 500;
}

.locationHolder::before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background-image: url(../images/marker.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.locationHolder {
    margin: 10px 0;
}

.locationHolder a {
    color:rgb(255, 153, 0);
}

.locationHolder a:hover, .locationHolder a:active {
    color:rgb(214, 171, 0);
}

.getDirectionsButton {
    cursor: pointer;
    border: none;
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

.getDirectionsButton:hover, .getDirectionsButton:active {
    background-color: rgb(0, 101, 209);
}

.getDirectionsButton:active {
    box-shadow: inset 0 0 5px black;
}

#load {
    justify-self: center;
    cursor: pointer;
    border: none;
    background-color: rgb(122, 122, 122);
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 1px 1px 3px black;
}

#load:hover, #load:active {
    background-color: rgb(104, 104, 104);
}

#load:active {
    box-shadow: inset  0 0 5px black;
}

button, input[type="button"] {
    font-weight: 600;
}
