a {
    text-decoration: none;
    color: black;
}

a:active {
    filter: opacity(0.7);   
}

nav {
    background-color: rgb(255, 248, 220);
    filter: drop-shadow(1px 1px 5px black);
    font-size: 24pt;
    padding: 2% 1%;
}

nav > a {
    display: block;
    text-align: center;
    font-weight: 900;
}

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 248, 220);
    filter: drop-shadow(1px 1px 5px black);
    padding: 1% 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

main {
    margin-bottom: 130px;
}

.select-icon:hover {
    background-color: rgb(253, 235, 164);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.select-icon {
    margin: auto;
    display: block;
    width: 3em;
    padding: 5%;
    border-radius: 25px;
    /* border: 5px solid black; */
}

@media screen and (min-width: 750px) {
    .select-icon {
        border-width: 10px;
        max-width: 25%;
        padding: 3%;
    }
}