@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Raleway", Arial, sans-serif;
    background-image:
        linear-gradient(rgb(255, 204, 0), rgb(255, 233, 143)),
        linear-gradient(to right, rgb(255, 244, 200), rgb(255, 233, 143)),
        url("../images/mainbackground.jpg");
    background-position-x: center;
    background-blend-mode: color, multiply;
}

.small-icon {
    width: 2em;
    filter: opacity(0.8) drop-shadow(1px 1px 2px rgb(179, 179, 179));
}